<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)" #fullpageRef>

	<div class="section section-1 section-cover fp-auto-height">
        <div class="section-wrapper">
            <div class="row x1">
                <img src="../../../assets/images/about/about-logo.png"></div>
            <div class="row x2">
                <img src="../../../assets/images/about/about-logos.png">
                <img src="../../../assets/images/about/about_cover.png">
            </div>
        </div>
    </div>
    
	<div class="section section-2 section-quote fp-auto-height">
        <div class="section-wrapper">
            <h2>SOMOS PSICOLOGOS DE LA FORMA, INTERPRETES, HACEMOS ARQUITECTURA EMOCIONAL, CREAMOS IDEAS QUE INSPIRAN</h2>
        </div>
    </div>
    
	<div class="section section-3 section-team fp-auto-height">
        <div class="section-wrapper">
            <h2>SOMOS UN EQUIPO INTERDISCIPLINARIO CON LA RIQUEZA DE GRANDES PROFESIONALES QUE TIENEN CONOCIMIENTOS Y EXPERIENCIA EN CADA UNA DE LOS RAMOS DE LA CONSTRUCCIÓN,EL DISEÑO Y LA ARQUITECTURA</h2>
            <div class="section-row">
                <div class="section-col">
                    <div class="section-subcol">
                        <img src="../../../assets/images/about/mauruicio.png">
                        <h3>Mauricio Lopez</h3>
                        <h4>Arquitecto, director creativo & co founder de Eclaire</h4>
                    </div>
                    <div class="section-subcol">
                        <p>
                            Arquitecto de profesión, formado en el oficio del arte, desde sus inicios, la innovación y el diseño hacen parte de su día a día. Apasionado por el diseño industrial aplicado a los espacios para hacerlos mar versátiles y funcionales. Encargado de la creación, diseño y ejecución de los grandes proyectos de Eclaire.
                        </p>
                        <a href="https://www.linkedin.com/in/mauricio-lopez-novoa-43b55188/" target="_blank">Link: https://www.linkedin.com/in/mauricio-lopez-novoa-43b55188/</a>
                    </div>
                </div>
                <div class="section-col">
                    <div class="section-subcol">
                        <img src="../../../assets/images/about/daniela2.png">
                        <h3>Daniela Lankast</h3>
                        <h4>Mercadóloga, publicista & Diseñadora de interiores de Eclair</h4>
                    </div>
                    <div class="section-subcol">
                        <p>Daniela profesional en marketing y publicidad, pero su gran pasión se vio reflejada en el diseño de interiores y la creación de experiencias con alma. Por medio del diseño busca potenciar, empoderar y fortalecer negocios y o emprendimientos, desde la identidad, la comunicación y la creatividad. Gracias a la combinación de estas dos carreras el Interiorismo y Marketing es capaz de conseguir para tu negocio clientes fieles, satisfechos e identificados con tu marca.</p>
                        <a href="https://www.linkedin.com/in/daniela-lank%C3%A1st-02905610b/" target="_blank">Link: https://www.linkedin.com/in/daniela-lank%C3%A1st-02905610b/</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-4 section-panels fp-auto-height">
        <div class="section-wrapper">
            <div class="section-row">
                <div class="section-col  panel1">
                    <h1>Psicología de la forma</h1>
                    <p>a través de la concepción de espacios buscamos satisfacer el subconsciente diseñando experiencias que trascienden.</p>
                </div>
                <div class="section-col  panel2">
                    <h1>Compromiso</h1>
                    <p>Superamos las expectativas de tus sueños, materializando ideas y cumpliendo grandes retos</p>
                </div>
                <div class="section-col  panel3">
                    <h1>Experiencia</h1>
                    <p>Nuestro tiempo en el mercado nos ha fortalecido en las habilidades y el conocimiento para desarrollar proyectos únicos.</p>
                </div>
                <div class="section-col  panel4">
                    <h1>Pasión</h1>
                    <p> Todo es posible, siempre y cuando realmente creamos en ello. El diseño nos apasiona tanto que dedicamos nuestras vidas a ello</p>
                </div>
                <div class="section-col  panel5">
                    <h1>Sostenibilidad</h1>
                    <p> Para nuestros proyectos planteamos los trabajos con materiales innovadores que hacen que en el proceso haya una disminución en el impacto ambiental. </p>
                </div>
                <div class="section-col  panel6">
                    <h1>Innovación</h1>
                    <p> No nos dejamos atrapar por el tiempo, estamos en un continuo aprendizaje e investigación de la evolución del diseño </p>
                </div>
                <div class="section-col  panel7">
                    <h1>Excelencia</h1>
                    <p> Nuestra dedicación está orientada a buscar soluciones específicas a los problemas  o necesidades de nuestros clientes </p>
                </div>
            </div>
        </div>
    </div>

	<div class="section section-5 section-mission-vision fp-auto-height">
        <div class="section-wrapper">
            <div class="section-row">
                <div class="section-col mission">
                    <img src="../../../assets/images/about/mission.png">
                    <p>Reinventamos en el estudio de la arquitectura, diseño, paisajismo e interiorismo que por medio del desarrollo de espacios innovadores y proponentes dan vida
                        a deseos ocultos de nuestros clientes, transformando sus sueños en fantásticos proyectos que terminan siendo una representación de su esencia.</p>
                </div>
                <div class="section-col vision">
                    <img src="../../../assets/images/about/vission.png">
                    <p>Eclaire es una empresa que trasciende dentro del mercado del diseño
                        y la construcción. Una empresa que busca realizar un cambio positivo
                        en las necesidades de la sociedad, que tiene en cuenta el impacto de las nuevas tecnologías para la proyección arquitectónica, exigiéndose la innovación
                        en sus diseños para transformar vidas.</p>
                </div>
            </div>
        </div>
    </div>

	<div class="section section-6 section-mauricio fp-auto-height">
        <div class="section-wrapper">
            <app-layout-slide-double 
			[layoutPictureSide]="'right'"
			[layoutTextAlign]="'justify'"
			[layoutTextMaxWidth]="'620px'"
		>
			<div class="layout-picture">
				<img src="../../../assets/images/about/mauricio10.png">
			</div>
			<div class="layout-content">
                <h1 style="font-size: 30px; letter-spacing: 0px; font-weight: 300; margin-top: 0px;margin-bottom: 0px;">
                    <strong style="font-weight: 900;">EL HOMBRE DETRÁS DE LA MARCA</strong> <br> 
                (LA HISTORIA DEL GESTOR)</h1>
				<p style="font-size: 14px;">No concebimos un buen trabajo profesional sin una excelente relación personal con nuestros clientes. Así que, me vas a permitir que te cuente algunas cosas sobre mi vida.
                    <br><br>
                    Mi nombre es Mauricio Lopez, desde pequeño tuve un gran interés en crear e inventar.
                    Recuerdo estar en el piso de la casa de mis padres; desarmando, armando, inventando y dibujando en mi libro de inventos, en medio de una búsqueda motivada por la curiosidad y la imaginación.
                    <br><br>
                    Con el tiempo y la práctica, vino el apoyo. El tío Carlos poseía el más grande tesoro del planeta en un baúl de su garaje; un cajón lleno de herramientas de todo tipo, las cuales me enseñó a manejar y a cuidar gracias a mi interés y dedicación.
                    <br><br>
                    Su perfección para realizar estas tareas quedó en mi mente y así mismo el detalle en las manualidades y lo artesanal. Sin saber que iba a ser parte vital del ejercicio que ahora práctico.
                    <br><br>
                    Motivado por esta disciplina decidí estudiar arquitectura. El diseño fue uno de los pilares y factores diferenciadores de mis propuestas y emprendimientos, tanto en espacios arquitectónicos con concepto, como en muebles personalizados, incluso en piezas de arte y elementos que acompañan nuestra vida diaria.
                    <br><br>
                    El mundo del manejo comercial y el servicio al cliente se sumó por experiencia. El resultado de estas herramientas se transformó en la capacidad de traducir sueños para luego materializarlos; lo anterior es el inicio de lo que llamo la psicología de la forma.
                    <br><br>
                    Los primeros pasos como profesional se iban enfocando a la independencia. Tomé acción desde joven y en el camino aprendí numerosos procesos que me fueron fortaleciendo para satisfacer las necesidades y deseos de las personas.
                    <br><br>
                    Como resultado los servicios fueron creciendo proyecto tras proyecto y fue así como logré plasmar en Eclaire una atmósfera proactiva y comprometida.
                    <br><br>
                    No en vano, en estos 18 años, desarrolle el sentido para captar en el ejercicio de la arquitectura y el interiorismo la esencia de lo que busca cada persona para tener una vida placida, llena de satisfacción y bienestar, todo esto implícito en espacios que, más que formas son experiencias.</p>
				
			</div>
		</app-layout-slide-double>
        </div>
    </div>

    <div class="section footer fp-auto-height">
		<app-footer></app-footer>
	</div>

    
</div>  