<div class="page">
    <div class="page-wrapper">
        <img src="../../../assets/images/Recurso 1.png">
        <br>
        <br>

        <h1> PROXIMAMENTE </h1>
        <br>

        <h2> {{ title }} </h2>
        <p> {{ text }}</p>
        <br>

        <div class="contact">
            <div class="contact-email"> Escríbenos a  mlopezn@eclaire.co</div>
            <div class="contact-phone">+57 3133775232</div>
        </div>
        </div>
        <app-btn-call-us></app-btn-call-us>
</div>