<footer>
   <h1> CONTÁCTANOS </h1>
   <form>
       <div class="footer--row">
           <input type="text" placeholder="NOMBRE">
           <input type="text" placeholder="CORREO">
           <input type="text" placeholder="CELULAR">
       </div>
       <div class="footer--row bottom">
           <input type="text" placeholder="ASUNTO:">
           <textarea rows="8">MENSAJE: </textarea>
       </div>
   </form>
   <ul>
       <li> MLOPEZ@ECLAIRE.CO </li>
       <li> - </li>
       <li> INFO@ECLAIRE.CO </li>
       <li> - </li>
       <li> +573133775232 </li>
       <li> - </li>
       <li> +573176700866 </li>
       <li> - </li>
       <li> BOGOTÁ, COLOMBIA </li>
   </ul>
</footer>